{% extends 'base.html' %}

{% block title_head %}
<title>Equipos</title>
{% endblock title_head %}

{% block h1_header %}
<h1>Listado de Equipos</h1>
{% endblock h1_header %}

{% block contenido %}
<a class="navbar-brand" href={% url 'Aplicacion:Crear Equipo' %}>Crear Equipo</a>
 {% if object_list %}
 {% for equipo in object_list %}
    <li>
        <a class="navbar-brand" href={% url 'Aplicacion:Mostrar Equipos' equipo.id%}>{{equipo}}</a>
    <button>
        <a class="navbar-brand" href={% url 'Aplicacion:Modificar Equipos' equipo.id%}>Modificar</a>
    </button>
    <button>
    <a class="navbar-brand" href={% url 'Aplicacion:Eliminar Equipos' equipo.id%}>Eliminar</a>
    </button>
    </li>
    {% endfor %}

{% else %}
    <h2>No hay datos</h2>
{% endif %}

{% endblock contenido %}