{% extends 'base.html' %}

{% block title_head %}
<title>Equipos</title>
{% endblock title_head %}

{% block h1_header %}
<h1>Listado de Equipos</h1>
{% endblock h1_header %}

{% block contenido %}

<a class="navbar-brand" href={% url 'Aplicacion:crear_equipo' %}>Crear Equipo</a>

 {% if object_list %}

 {% for equipo in object_list %}
    <li>
        <a class="navbar-brand" href={% url 'Aplicacion:mostrar_equipos' equipo.id%}>{{equipo}}
            {% if equipo.escudo %}
                <img src = {{equipo.escudo.url}} alt = '' height = '60px'>
            {% endif %}

    <button>
     <a class="navbar-brand" href={% url 'Aplicacion:modificar_equipos' equipo.id%}>Modificar</a>
    </button>

    <button>
     <a class="navbar-brand" href={% url 'Aplicacion:eliminar_equipos' equipo.id%}>Eliminar</a>
    </button>

    </li>
    {% endfor %}

{% else %}
    <h2>No hay datos</h2>
{% endif %}

<button>
    <a class="navbar-brand" href={% url 'Aplicacion:buscador_equipos'%}>Buscar Equipo</a>
</button>

{% endblock contenido %}