{% extends 'base.html' %}

{% block title_head %}
<title>Equipo</title>
{% endblock title_head %}

{% block h1_header %}
<h1>{{equipo.nombre}}</h1>
{% endblock h1_header %}

{% block contenido %}

<ul>
    <li>Nombre: {{equipo.nombre}}</li>
    <li>Apodo: {{equipo.apodo}}</li>
    <li>Dt: {{equipo.dt}}</li>
    <li>Año de creacion: {{equipo.anio_de_creacion}}</li>
    <li>Escudo: <img src = {{equipo.escudo.url}} alt = '' height = '60px'></li>
</ul>
<p>
    <button>
    <a class="navbar-brand" href={% url 'Aplicacion:modificar_equipos' equipo.id%}>Modificar</a>
    </button>
    <button>
    <a class="navbar-brand" href={% url 'Aplicacion:eliminar_equipos' equipo.id%}>Eliminar</a>
    </button>
</p>
{% endblock contenido %}